@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

body {
  background: #faebd7;
  text-align: center;
  font-family: 'Architects Daughter', cursive;
}

.jumbotron {
  background: #fad503;
}

li {
    padding: 5px;
    margin: 5px;
  }

  .row {
    float: left;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-form {
    padding: 5px;
    margin: 5px;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  