@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

body {
  background: rgb(65, 238, 180);
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: 'Architects Daughter', cursive;
}

.jumbotron {
  background: url(burger-and-fries.jpg);
  background-size: cover;
  height: auto;
  max-width: 100%;
}

li {
    padding: 5px;
    margin: 5px;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-form {
    padding: 5px;
    margin: 5px;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  